<button (click)="getData()">Klik saya buat get data</button>

<ul>
    <li *ngFor="let item of profile">
        <b *ngIf="item.nama == 'hanif'">
            {{ item.nama }}
        </b>
        Nama : {{ item.nama }} <button (click)="deleteData(item.id)"> delete </button>
    </li>
</ul>

<input type="text" name="id" id="id" placeholder="id" [(ngModel)]="id"><br>
<input type="text" name="nama" id="nama" placeholder="nama" [(ngModel)]="nama"><br>
<input type="text" name="alamat" id="alamat" placeholder="alamat" [(ngModel)]="alamat"><br>
<input type="text" name="gender" id="gender" placeholder="gender" [(ngModel)]="gender"><br>
<input type="text" name="gaji" id="gaji" placeholder="gaji" [(ngModel)]="gaji"><br>


<button (click)="tambahData()">Submit</button>

<button [routerLink]="'/list'"> Pindah List</button>


<button (click)="pindah()"> Pindah List Pake TS</button>